@media screen and (max-width: 991px) {
    #videoSection .row{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    h2{
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    section,
    footer{
        padding: 50px 0;
    }
    header nav{
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;
    }

    #banner{
        background: none;
    }
    #banner .row{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #banner .row .content{
        background: url('../images/bannerBg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        padding: 20px;
        order: 2;
    }


    #videoSection .row{
        grid-template-columns: 1fr;
    }

    #games .row .card{
        padding: 5px;
    }
    #games .row .card img{
        width: 30px;
        height: 30px;
    }
    #games .row .card p{
        font-size: 14px;
    }

    footer{
        padding: 30px 0;
    }
    footer .footerContent{
        grid-template-columns: repeat(3, 1fr);
    }
    footer .secondaryLinks{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 560px) {
    
}