@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
:root{
    --primaryFont: 'Work Sans', sans-serif;

    --primaryColor: #F948B2;
    --secondaryColor: #8758F1;
    --thirdColor: #4EC5F7;
    --pragraphColor: #534C64;
    --darkColor: #0B0223;
    --whiteColor: #ffffff;
    --grayColor: #3C354F;
    --bgGray: rgba(11, 2, 35, 0.10);

    --borderRadius: 8px;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: var(--primaryFont);
    background: var(--whiteColor);
}
h1{
    font-size: 95px;
    font-weight: 800;
}
h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--darkColor);
    padding-bottom: 16px;
}
h4{
    font-size: 32px;
    font-weight: 700;
}
p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}
p.small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
button{
    cursor: pointer;
    font-family: var(--primaryFont);
}
.container{
    width: 90%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.row{
    width: 100%;
}
section,
footer{
    padding: 70px 0;
}
header,
section,
footer{
    display: grid;
    place-items: center;
}
span.highlight{
    color: var(--primaryColor);
}
button{
    border-radius: 48px;
    padding: 12px 30px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--whiteColor);
    margin-bottom: 15px;
}
.btnPrimary{
    background: var(--primaryColor);
}
.btnSecondary{
    color: var(--whiteColor);
    background: var(--thirdColor);
}

/* Header start ===================== */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 10px;
    padding: 20px 0;
}
a.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: var(--darkColor);
    font-weight: 700; 
}
a.logo img{
    margin-right: 10px;
}
header nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header nav > ul a{
    color: var(--grayColor);
    font-size: 18px;
}
header nav > ul > li:last-child{
    background: var(--bgGray);
    padding: 15px 20px;
    border-radius: var(--borderRadius);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header nav > ul > li:last-child a{
    font-size: 20px;
}
header nav > ul > li:last-child a:first-child{
    color: #F61C0D;
}
header nav > ul > li:last-child a:last-child{
    color:#000000;
}
/* Header end ===================== */

/* Banner start ======================= */
#banner{
    padding-bottom: 0;
    background: url('../images/bannerBg.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% 100%;
}
#banner .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    align-items: center;
}
#banner .row .content{
    width: 100%;
    padding: 20px 0;
}
#banner .row .content h2{
    font-weight: 600;
    text-transform: uppercase;
}
#banner .row .content h1{
    color: var(--primaryColor);
    text-transform: uppercase;
    padding-bottom: 15px;
}
#banner .row ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}
#banner .row ul li{
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--pragraphColor);
}
#banner .row ul li i{
    color: var(--primaryColor);
}
#banner .row .imgWrapper{
    display: flex;
    align-items: flex-end;
}
#banner .row img{
    width: 100%;
}
/* Banner end ======================= */


/* Gamer start ==================== */
#gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
#gamer .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}
#gamer .row .imgWrapper,
#gamer .row .imgWrapper img{
    width: 100%;
}
#gamer .content{
    text-align: right;
    width: 100%;
    max-width: 520px;
}
#gamer .content h4{
    color: var(--pragraphColor);
    font-size: 24px;
    font-weight: 500;
}
#gamer .content h4:last-child{
    font-size: 32px;
    font-weight: 700;
}
/* Gamer end =============== */


/* video section start  ====================== */
#videoSection{
    text-align: center;
}
#videoSection .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
#videoSection .row .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
#videoSection .row .card .imgWrapper{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid #fff;
    transition: all 0.3s;
}
#videoSection .row .card .imgWrapper:hover{
    border: 5px solid var(--primaryColor);
}
#videoSection .row .card .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#videoSection .row .card .imgWrapper .overay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.3s;
}
#videoSection .row .card:hover .imgWrapper .overay{
    opacity: 1;
}
#videoSection .row .card .imgWrapper .overay i{
    font-size: 20px;
    color: #000;
    width: 50px;
    aspect-ratio: 1;
    background: var(--whiteColor);
    display: grid;
    place-items: center;
    border-radius: 50%;
}
#videoSection .row .card p{
    text-align: left;
}
/* video section end  ====================== */


/* PlayInstantly section start =================== */
.towCol .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 75px;
    place-items: center;
}
.towCol .row .content{
    width: 100%;
    max-width: 480px;
}
#PlayInstantly .content{
    text-align: right;
}
.towCol .row .imgWrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.towCol .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.towCol .row .imgWrapper img.miniImg{
    position: absolute;
    width: 40%;
    height: auto;
    object-fit: cover;
}
#PlayInstantly .row .imgWrapper img.miniImg{
    left: 0;
    bottom: 0;
    transform: translate(-50%, 20%);
    margin-left: 30px;
}
#playGames .row .imgWrapper .miniImg{
    right: 0;
    bottom: 0;
    margin-right: 30px;
    transform: translate(50%, 20%);
}

/* PlayInstantly section end =================== */


/* Games section start ============== */
#games{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);     
}
#games .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#games .row .card{
    padding: 8px;
    border-radius: 50px;
    background: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--whiteColor);
    cursor: pointer;
    transition: all 0.3s;
}
#games .row .card:hover{
    border: 1px solid var(--primaryColor);
}
#games .row .card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#games .row .card p{
    padding: 0;
    color: var(--darkColor);
    font-weight: 600;
    transition: all 0.3s;
}
#games .row .card:hover p{
    color: var(--primaryColor);
}
/* Games section end ============== */

/* Careers section start =================== */
#careers{
    background: var(--primaryColor);
}
#careers .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
}
#careers .row h2,
#careers .row p,
#careers .row ul{
    color: var(--whiteColor);
}
#careers .row h2{
    padding-bottom: 20px;
}
#careers .row ul{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#careers .row ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
#careers .row ul li span:last-child{
    text-align: right;
}
#careers .btnCareers{
    background: var(--whiteColor);
    color: var(--primaryColor);
}
#careers .row .imgWrapper,
#careers .row .imgWrapper img{
    width: 100%;
}
/* Careers section end =================== */

/* Footer start =================== */
footer{
    background: var(--darkColor);
}
footer .container{
    gap: 30px;
    align-items: center;
    text-align: center;
}
footer a.logo{
    color: var(--whiteColor);
}
footer .footerContent{
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 20px 10px;
}
footer ul a{
    color: var(--whiteColor);
    padding: 10px;
}
footer ul.socialLinks{
    width: 100%;
    max-width: 450px;
}
footer ul.socialLinks a{
    font-size: 30px;
}
footer .secondaryLinks{
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}
footer .secondaryLinks a,
footer p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 0;
}
/* Footer end =================== */